*, *::after, *::before, html{
    font-family: 'Segoe UI Variable', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}

:root {
    --purpleGradient: linear-gradient(100deg, rgba(56,4,97,1) 0%, rgba(20,0,42,1) 100%);   
    --orangePinkgradient: linear-gradient(90deg, rgba(211,82,179,1) 0%, rgba(253,205,39,1) 100%);
    --purple: #1f0053;
    --white: #fffeff;
}

.container {
    /* position: relative; */
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* navbar */
.navbar-brand {
    font-family: 'Pacifico',  cursive;
}

.navbar {
    background: var(--purpleGradient);   
}

.navbar ion-icon{
    font-size: 1.25em;
    --ionicon-stroke-width: 60px;
    color: rgba(255, 254, 255, .55);
}

.navbar ion-icon:hover{
    color: rgba(255, 254, 255, 1);
    transition: .4s;
}

/* end of navbar */

/* footer */

footer {
    background-color: var(--white);
    position: relative;
    width: 100%;
    margin-top: 4em;
    bottom: 0;
}

footer ion-icon{
    font-size: 1.25em;
    --ionicon-stroke-width: 60px;
    color: rgba(31, 0, 83, .55);
}

footer ion-icon:hover{
    color: rgba(31, 0, 83, 1);
    transition: .4s;
}

/* end of footer */

/* home */
#home_heading{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;

    text-align: center;
    align-items: center;
    justify-content: center;
}

#home_cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

#greetings {
    position: absolute;
    color: var(--white);
    
    display: flex;
    flex-direction: column;
}

.like_and_views ion-icon{
    --ionicon-stroke-width: 36px;
    color: #101010;   
}

.like_and_views ion-icon:hover{
    color: pink;
    transition: .4s;   
}